<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">
    <title>Unsupervised ML Trainer</title>
  </head>
  <body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="margin-left: 20px;">
Unsupervised ML Model Trainer
  </a>
</nav>


<!-- change later-->
<script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}" ></script>

  </body>
</html>