<!doctype html>
<html lang="en">
<head>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">
    <link href="{{ url_for('static',filename = 'css/all.css')  }}" rel="stylesheet">
    <title>Multi Linear Regression</title>
    
</head>
<body style="background-color: #E8EAED">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="margin-left: 20px;">
            Multi Var. Linear Regression
        </a>
    </nav>
    
    <div class="container">
        
        <div class="jum" style="background-color: #fff;">
            <p class="lead"><span style='font-size:40px;'>&#129321; Enjoy The power of Elliot</span> </p>
            
            <h1 class="display-10">Provide Details Below</h1>
            <br><br>








        </div>
    </div>
    
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}" ></script>
    
</body>
</html>